* {
    padding: 15px;
    margin: 0;
    font-family: Monocraft;
    font-weight: 200;
}
html {
    background: linear-gradient(90deg, rgba(6, 37, 64, 1.000) 0.000%, rgba(8, 39, 68, 1.000) 3.030%, rgba(11, 42, 72, 1.000) 6.061%, rgba(14, 45, 77, 1.000) 9.091%, rgba(16, 48, 81, 1.000) 12.121%, rgba(19, 51, 86, 1.000) 15.152%, rgba(22, 54, 91, 1.000) 18.182%, rgba(25, 57, 96, 1.000) 21.212%, rgba(28, 60, 102, 1.000) 24.242%, rgba(31, 64, 107, 1.000) 27.273%, rgba(35, 67, 113, 1.000) 30.303%, rgba(38, 71, 119, 1.000) 33.333%, rgba(42, 74, 124, 1.000) 36.364%, rgba(45, 78, 130, 1.000) 39.394%, rgba(49, 81, 136, 1.000) 42.424%, rgba(52, 85, 143, 1.000) 45.455%, rgba(56, 89, 149, 1.000) 48.485%, rgba(60, 93, 155, 1.000) 51.515%, rgba(64, 97, 161, 1.000) 54.545%, rgba(67, 100, 168, 1.000) 57.576%, rgba(71, 104, 174, 1.000) 60.606%, rgba(75, 108, 180, 1.000) 63.636%, rgba(80, 113, 187, 1.000) 66.667%, rgba(84, 117, 193, 1.000) 69.697%, rgba(88, 121, 199, 1.000) 72.727%, rgba(92, 125, 205, 1.000) 75.758%, rgba(96, 129, 211, 1.000) 78.788%, rgba(100, 133, 217, 1.000) 81.818%, rgba(105, 138, 223, 1.000) 84.848%, rgba(109, 142, 228, 1.000) 87.879%, rgba(113, 146, 234, 1.000) 90.909%, rgba(118, 150, 239, 1.000) 93.939%, rgba(122, 155, 245, 1.000) 96.970%, rgba(127, 159, 250, 1.000) 100.000%)
}

h1{
    color: lightskyblue;
    text-align: center;
}

h3 {
    color: white;
}
.links {
    text-align: center;
    margin-top: 20px;
}
a {
    color: lightblue;
    text-decoration: none;
}
a:hover {
    color: deepskyblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    max-width: 200px;
}