<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JadeIT</title>
</head>
<body>
    <h1>JadeIT - Jade Brady Software Developer</h1>
    <h3>Here I play around with new (to me) modules and packages, learning and having fun as I go</h3>
    <a target=_blank href="https://www.github.com/jadebrady">Github</a><a target=_blank href="https://www.linkedin.com/in/jade-brady/">LinkedIn</a>
</body>
</html>